<h1> Correlation Demonstration Code

In [1]:
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import pandas as pd #lets us handle data as dataframes

from sklearn.metrics import mean_squared_error
import math 
from random import randint #import a random integer generator

In [2]:
df_1 = pd.read_csv('./active_generated.csv')
df_2 = pd.read_csv('./inactive_generated.csv')

In [3]:
df_1

      Unnamed: 0    ID  Age  Balance    Title
0              0     1   24     3919   Hourly
1              1     2   26     3260   Hourly
2              2     3   29     5225   Hourly
3              3     4   21     9718   Hourly
4              4     5   24     7730   Hourly
...          ...   ...  ...      ...      ...
1229        1229  1230   89   698335  Level 3
1230        1230  1231   84   604341  Level 3
1231        1231  1232   80   792092  Level 3
1232        1232  1233   85   767220  Level 3
1233        1233  1234   83   799758  Level 3

[1234 rows x 5 columns]

In [4]:
print("The correlation coefficient between Age and Balance is: {}" .format(np.corrcoef(df_1["Age"], df_1["Balance"])[0][1]))

The correlation coefficient between Age and Balance is: 0.3452558352672443